/* Neue Machina */
@font-face {
  font-family: 'neuemachina';
  src: url('../../public/fonts/NeueMachi/NeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'neuemachina';
  src: url('../../public/fonts/NeueMachi/NeueMachina-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuemachina';
  src: url('../../public/fonts/NeueMachi/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Mode Seven */

@font-face {
  font-family: 'modeseven';
  src: url('../../public/fonts/ModeSeven/Modeseven-L3n5.ttf') format('truetype');

  font-style: normal;
  font-display: swap;
}

/* Termina */

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Demi.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'termina';
  src: url('../../public/fonts/Termina/TerminaTest-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Dystopian */

@font-face {
  font-family: 'dystopian';
  src: url('../../public/fonts/Dystopian/Dystopian-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dystopian';
  src: url('../../public/fonts/Dystopian/Dystopian-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dystopian';
  src: url('../../public/fonts/Dystopian/Dystopian-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dystopian';
  src: url('../../public/fonts/Dystopian/Dystopian-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
