<div id="logo-container">
  <div class="logo-row"></div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-1-1"></span>
    <span class="logo-cell" id="cell-1-2"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-2-1"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-3-1"></span>
    <span class="logo-cell" id="cell-3-2"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-4-1"></span>
    <span class="logo-cell" id="cell-4-2"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-5-1"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-6-1"></span>
    <span class="logo-cell" id="cell-6-2"></span>
    <span class="logo-cell" id="cell-6-3"></span>
    <span class="logo-cell" id="cell-6-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-7-1"></span>
    <span class="logo-cell" id="cell-7-2"></span>
    <span class="logo-cell" id="cell-7-3"></span>
    <span class="logo-cell" id="cell-7-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-8-1"></span>
    <span class="logo-cell" id="cell-8-2"></span>
    <span class="logo-cell" id="cell-8-3"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-9-1"></span>
    <span class="logo-cell" id="cell-9-2"></span>
    <span class="logo-cell" id="cell-9-3"></span>
    <span class="logo-cell" id="cell-9-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-10-1"></span>
    <span class="logo-cell" id="cell-10-2"></span>
    <span class="logo-cell" id="cell-10-3"></span>
    <span class="logo-cell" id="cell-10-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-11-1"></span>
    <span class="logo-cell" id="cell-11-2"></span>
    <span class="logo-cell" id="cell-11-3"></span>
    <span class="logo-cell" id="cell-11-4"></span>
    <span class="logo-cell" id="cell-11-5"></span>
    <span class="logo-cell" id="cell-11-6"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-12-1"></span>
    <span class="logo-cell" id="cell-12-2"></span>
    <span class="logo-cell" id="cell-12-3"></span>
    <span class="logo-cell" id="cell-12-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-13-1"></span>
    <span class="logo-cell" id="cell-13-2"></span>
    <span class="logo-cell" id="cell-13-3"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-14-1"></span>
    <span class="logo-cell" id="cell-14-2"></span>
    <span class="logo-cell" id="cell-14-3"></span>
    <span class="logo-cell" id="cell-14-4"></span>
    <span class="logo-cell" id="cell-14-5"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-15-1"></span>
    <span class="logo-cell" id="cell-15-2"></span>
    <span class="logo-cell" id="cell-15-3"></span>
    <span class="logo-cell" id="cell-15-4"></span>
  </div>
  <div class="logo-row">
    <span class="logo-cell" id="cell-16-1"></span>
    <span class="logo-cell" id="cell-16-2"></span>
    <span class="logo-cell" id="cell-16-3"></span>
    <span class="logo-cell" id="cell-16-4"></span>
    <span class="logo-cell" id="cell-16-5"></span>
  </div>
</div>

<style>
  #logo-container {
    height: 400px;
    width: 400px;

    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-row {
    width: 600px;
    height: 15px;
    margin: 5px 0px;

    position: relative;
  }

  .logo-cell {
    background-color: var(--main-dark-grey);

    border-radius: 15px;
    height: 15px;

    position: absolute;
  }

  /* row one */

  #cell-1-1 {
    width: 60px;
    left: 100px;
  }

  #cell-1-2 {
    width: 25px;
    left: 165px;
  }

  /* row two */

  #cell-2-1 {
    width: 50px;
    left: 140px;
  }

  /* row three */

  #cell-3-1 {
    width: 30px;
    left: 140px;
  }

  #cell-3-2 {
    width: 15px;
    left: 175px;
  }

  /* row four */

  #cell-4-1 {
    width: 15px;
    left: 140px;
  }

  #cell-4-2 {
    width: 30px;
    left: 160px;
  }

  /* row five */

  #cell-5-1 {
    width: 50px;
    left: 140px;
  }

  /* row six */

  #cell-6-1 {
    width: 15px;
    left: 140px;
  }

  #cell-6-2 {
    width: 30px;
    left: 160px;
  }

  #cell-6-3 {
    width: 25px;
    left: 220px;
  }

  #cell-6-4 {
    width: 55px;
    left: 270px;
  }

  /* row seven */

  #cell-7-1 {
    width: 50px;
    left: 140px;
  }

  #cell-7-2 {
    width: 15px;
    left: 200px;
  }

  #cell-7-3 {
    width: 35px;
    left: 285px;
  }

  #cell-7-4 {
    width: 15px;
    left: 330px;
  }

  /* row eight */

  #cell-8-1 {
    width: 60px;
    left: 140px;
  }

  #cell-8-2 {
    width: 15px;
    left: 300px;
  }

  #cell-8-3 {
    width: 30px;
    left: 320px;
  }

  /* row nine */

  #cell-9-1 {
    width: 15px;
    left: 140px;
  }

  #cell-9-2 {
    width: 32px;
    left: 160px;
  }

  #cell-9-3 {
    width: 30px;
    left: 320px;
  }

  #cell-9-4 {
    width: 15px;
    left: 300px;
  }

  /* row ten */

  #cell-10-1 {
    width: 70px;
    left: 50px;
  }

  #cell-10-2 {
    width: 50px;
    left: 140px;
  }

  #cell-10-3 {
    width: 15px;
    left: 250px;
  }

  #cell-10-4 {
    width: 50px;
    left: 300px;
  }

  /* row eleven */

  #cell-11-1 {
    width: 20px;
    left: 30px;
  }

  #cell-11-2 {
    width: 50px;
    left: 105px;
  }

  #cell-11-3 {
    width: 20px;
    left: 240px;
  }

  #cell-11-4 {
    width: 30px;
    left: 160px;
  }

  #cell-11-5 {
    width: 30px;
    left: 300px;
  }

  #cell-11-6 {
    width: 15px;
    left: 335px;
  }

  /* row twelve */

  #cell-12-1 {
    width: 15px;
    left: 25px;
  }

  #cell-12-2 {
    width: 50px;
    left: 140px;
  }

  #cell-12-3 {
    width: 40px;
    left: 195px;
  }

  #cell-12-4 {
    width: 50px;
    left: 300px;
  }

  /* row thirteen */

  #cell-13-1 {
    width: 15px;
    left: 140px;
  }

  #cell-13-2 {
    width: 30px;
    left: 160px;
  }

  #cell-13-3 {
    width: 50px;
    left: 300px;
  }

  /* row fourteen */

  #cell-14-1 {
    width: 35px;
    left: 25px;
  }

  #cell-14-2 {
    width: 30px;
    left: 140px;
  }

  #cell-14-3 {
    width: 15px;
    left: 175px;
  }

  #cell-14-4 {
    width: 15px;
    left: 300px;
  }

  #cell-14-5 {
    width: 30px;
    left: 320px;
  }

  /* row fifteen */

  #cell-15-1 {
    width: 65px;
    left: 10px;
  }

  #cell-15-2 {
    width: 50px;
    left: 140px;
  }

  #cell-15-3 {
    width: 50px;
    left: 300px;
  }

  /* row sixteen */

  #cell-16-1 {
    width: 35px;
    left: 25px;
  }

  #cell-16-2 {
    width: 50px;
    left: 100px;
  }

  #cell-16-3 {
    width: 70px;
    left: 155px;
  }

  #cell-16-4 {
    width: 50px;
    left: 270px;
  }

  #cell-16-5 {
    width: 65px;
    left: 325px;
  }
</style>

<script>
  import gsap from 'gsap';
  let timeLine = gsap.timeline();

  const screenWidthHalved = (window.screen.width - 100) / 2;

  const getRandomStartPosInt = () => {
    let position = screenWidthHalved * Math.random();

    if (Math.random() >= 0.5) {
      position = position * -1;
    }

    return position;
  };

  const getRandomStartTimeInt = () => {
    return Math.random() * (3 - 1 + 1) + 1;
  };

  Array.from(document.querySelectorAll('.logo-cell')).map((element) => {
    timeLine.fromTo(`#${element.id}`, { x: getRandomStartPosInt() }, { x: 0, duration: getRandomStartTimeInt() }, 1);
  });
</script>
