---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Toolbar/Toolbar.astro';
import Toolbar from '../components/Toolbar/Toolbar.astro';
import CustomCursor from '../components/CustomCursor/CustomCursor.astro';
---

<Layout title="Harry Whorlow">
  <main>
    <CustomCursor />
    <Toolbar />
  </main>
</Layout>

<style>
  main {
    height: 1000px;
    overflow: hidden;
  }
</style>
