---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo/Logo.astro';
import Toolbar from '../components/Toolbar/Toolbar.astro';
import CustomCursor from '../components/CustomCursor/CustomCursor.astro';
import RadarPannel from '../components/RadarPanel/RadarPanel.astro';
---

<Layout title="Harry Whorlow">
  <main>
    <CustomCursor />
    <Toolbar />

    <Logo />

    <RadarPannel />
  </main>

  <style>
    main {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</Layout>
