---
import { getImage } from 'astro:assets';
import faviconSvgSrc from '../images/favicon.svg';
import CustomCursor from '../components/CustomCursor/CustomCursor.astro';

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' });

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" sizes="any" href={faviconSvg.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <CustomCursor />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --grey-dark-main: rgb(31, 33, 36);
    --grey-dark-light: rgb(40, 43, 48);

    --grey-light-main: rgb(234, 234, 234);

    --main-text-light: rgb(234, 234, 234);
    --main-text-dark: rgb(31, 33, 36);

    --accent-primary: rgb(60, 134, 147);

    /* --accent-primary: rgb(211, 8, 117); */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: none;
  }

  body {
    overflow-x: hidden;
  }

  .actionable {
    z-index: 50;
  }

  /* globally availible for dynamic elements */
  .terminal-text {
    font-family: modeseven;

    color: var(--grey-dark-main);
    display: inline-block;
  }

  .terminal-cursor {
    height: 12px;
    width: 7px;

    background-color: var(--grey-dark-main);

    display: inline-block;
    opacity: 0;
  }

  /* utility classes */

  .flex-row-center {
    display: flex;
    justify-content: center;
  }

  .flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-column-center {
    display: flex;
    direction: column;
    justify-content: center;
  }

  .flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* fonts */
  @font-face {
    font-family: 'neuemachina';
    src: url('../../public/fonts/NeueMachi/NeueMachina-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'neuemachina';
    src: url('../../public/fonts/NeueMachi/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'neuemachina';
    src: url('../../public/fonts/NeueMachi/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'modeseven';
    src: url('../../public/fonts/ModeSeven/Modeseven-L3n5.ttf') format('truetype');

    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Heavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Demi.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
</style>

<script>
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  import ScrollSmoother from 'gsap/ScrollSmoother';

  // gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
  // ScrollTrigger.normalizeScroll(true);

  // let smoother = ScrollSmoother.create({
  //   wrapper: '#smooth-wrapper',
  //   content: '#smooth-content',
  //   smooth: 2,
  //   effects: true,
  // });
</script>
