---
import { getImage } from 'astro:assets';
import faviconSvgSrc from '../images/favicon.svg';

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' });

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" sizes="any" href={faviconSvg.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --main-light-grey: rgb(234, 234, 234);
    --main-dark-grey: rgb(45, 45, 45);
    --accent-pink: rgb(212, 8, 117);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: none;
  }

  body {
    background-color: var(--main-light-grey);
    padding: 1vw;

    &:hover > #mouse-trailer {
      background-color: 'red';
    }
  }

  /* fonts */

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Thin.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Heavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Demi.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'termina';
    src: url('../../public/fonts/Termina/TerminaTest-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
</style>
